<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="src/server.js" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".xml" mimeType="application/xml" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="51200000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
